.App {
  text-align: center;
}

.new {
  background-color: #F6F6EF;
  color: #000000;
  padding: 0.5rem;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(7, 150px);
  grid-template-rows: 150px;
  grid-auto-columns: 150px;
  grid-auto-rows: 150px;
  grid-gap: 10px;
}

.active {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #fc6621;
}

.arrow-up {
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: 1rem 1rem;
  background-image: url('/arrow-up.svg'), none;
}
